header {
	background-color: black;
	color: white;
	padding: 5px;
	height: 100px; 
	line-height: 10px;
	float: top;
}
body {
	font-family: 'Kalam', cursive;
	font-size: 17px;
}
.text {
	text-align: left;
	width: 950px
}
.heading {
	font-family: 'Tangerine', serif;
	font-size: 30px;
	color: red;
	font-style: strong;
}
.searchbar {
	float: right;
	position: relative "right:100px" "top:0%";
}
nav {
	background-color: white;
	text-align: left;
	float: left;
	padding: 5px;
	height: 200px;
	width: 100px;
}
aside {
	background-color: white;
	float: right /* or left */;
	width: 220px;
	height: auto;
	text-align: center;
	padding: 5px;
}
section {
	background-color: pink;
	padding: 5px;
	width: 950px; /* find a default vale to fix it at */
	float: left;
}
.subHeading {
	font-family: 'Covered By Your Grace', cursive;
	text-align: center;
}
.pictureSection {
	-webkit-column-count: 2;
	-webkit-column-gap: 150px; 
	padding: 5px;
}
.articles {
	border: solid black 1px;
	background-color: white;
	text-align: center;
	font-size: 15px;
}
.textLeft {
	text-align: left;
/*	width: 200px;	*/	
}
footer {
	float: bottom;
	clear: both;
	background-color: black;
	color: white;
	height: auto;
	text-align: center;
	padding: 5px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px; 
}
.footerSection {
	text-align: center;
}