#header {
	background-color: black;
	color: pink;
	border-style: solid;
	
}

#body {
	background-color: blue;
	background-image: url("http://www-static.weddingbee.com/pics/310133/winter_wonderland_.jpg");
	text-align: center;
}